  <p> What did you drink? </p>

  <form action="/drinks<%params[:coice]%>" method="post">
     <input type="hidden" name="choice" id="choice" value="tea">
     <input type="submit" value="Tea">
  </form>

  <form action="/drinks<%params[:coice]%>" method="post">
     <input type="hidden" name="choice" id="choice" value="coffee">
     <input type="submit" value="Coffee">
  </form>

  <form action="/drinks<%params[:coice]%>" method="post">
     <input type="hidden" name="choice" id="choice" value="water">
     <input type="submit" value="Water">
  </form>
