 <!doctype html>

<html>
  <head>
    <title>Life Tracker</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>
  <body>
    <header>
      <h1>Life Tracker app</h1>
    </header>
    <%= yield %>
  </body>

</html>
